.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.searchbar input{
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
}

.searchbar button{
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}